@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800;900&family=Mukta:wght@300;400;500&display=swap');

/* App/global */
body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75%;
    color: #283618;
}

.App {
    padding: 2% 5%;
    display: flex;
    justify-content: right;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.App * {
    box-sizing: border-box;
}

.content-container {
    margin-right: 2%;
}

.app-header {
    padding: 20px 50px 1px;
    margin-bottom: 20px;
    color: #18210f;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 60px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    margin-top: 0;
}

h2 {
    font-size: 35px;
    font-family: 'Maven Pro', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
}

p {
    margin: 5px 0;
}

.display-none {
    display: none;
}

.showSuggestions {
    display: block;
}

.input-label {
    font-size: 18px;
    color: #18210f;
}

input[type="text"],
input[type="number"] {
    padding: 8px 6px 8px 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    height: 38px;
}

.alert {
    font-size: 14px;
    width: 260px;
}

.info-alert {
    position: absolute;
    bottom: 42px;
    margin-left: 20px;
}

.error-alert {
    margin-bottom: 10px;
    margin-left: -30px;
}

/**/

/* CitySearch */
.city {
    width: 250px;
}

.city-search {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 300px;
    margin: auto;
    position: relative;
}

.suggestions {
    width: 250px;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: 0;
    top: 43px;
    font-size: 14px;
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
    text-align: left;
    padding: 8px 6px 8px 10px;
    background-color: #eee;
    color: #2C3333;
    cursor: default;
}

.suggestions>li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
    background-color: #ccd5ae;
}

/**/

/* numberOfEvents */
.number-of-events {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

/**/

/* EventList */
.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/

/* Event */
.event {
    padding: 10px 30px 35px;
    margin-top: 30px;
    text-align: left;
    border-radius: 16px;
    position: relative;
    max-width: 600px;
    background-color: #cad6b6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s;
}

.event-title {
    text-align: center;
    margin-bottom: 15px;
}

.event-info {
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.event-info_location {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 20px;
}

.event-details {
    overflow-x: hidden;
    margin-bottom: 26px;
}

.details-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 8px;
    margin: 10px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #283618;
    color: #e9edc9;
    border: 1px groove #283618;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.details-button:hover {
    opacity: 90%;
}

.details-button:active {
    border-style: ridge;
}

/**/


/* Responsiveness */
@media all and (min-width: 2200px) {
    .content-container {
        margin-right: 10%;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }
}

@media all and (max-width: 408px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 19px;
    }

    .input-label {
        font-size: 17px;
    }

    .event-info {
        font-size: 16px;
    }

    .event-details {
        font-size: 16px;
    }

    .info-alert {
        margin-left: 20px;
    }
}

/**/

/* UNUSED FOR NOW */
.name {
    font-size: 18px;
    font-weight: 600;
}

.group-name {
    text-transform: uppercase;
    font-size: 14px;
}

.going,
.visibility {
    font-style: italic;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
}

.data-vis-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
    min-width: 100%;
    display: flex;
}

.recharts-surface {
    overflow: visible;
}

/**/


@media only screen and (min-width: 992px) {
    .data-vis-wrapper {
        flex-direction: row;
    }

    .data-vis-wrapper .recharts-responsive-container {
        flex-basis: 50%;
        max-width: 50%;
        min-width: auto;
        margin: 0 auto;
    }
}